%h5= _('Wiki')

- group_feature = group.group_feature

= f.fields_for :group_feature_attributes, group_feature do |group_feature_form|
  .form-group.gl-mb-3
    = group_feature_form.gitlab_ui_radio_component :wiki_access_level, Featurable::ENABLED,
            _('Enabled'),
            help_text: _('Everyone can access the wiki.')

    = group_feature_form.gitlab_ui_radio_component :wiki_access_level, Featurable::PRIVATE,
            _('Private'),
            help_text: _('Only members of this group can access the wiki.')

    = group_feature_form.gitlab_ui_radio_component :wiki_access_level, Featurable::DISABLED,
            _('Disabled'),
            help_text: _('Group-level wiki is disabled.')
