- page_title _('SAML single sign-on for %{group_name}') % { group_name: @group_name }

- if @auto_redirect_to_provider
  = gl_loading_icon(size: 'lg')
  .gl-text-center.gl-mt-7
    %h4= _('Reauthenticating with SAML provider.')
  = saml_link _('Sign in with single sign-on'), @group_path, id: 'js-auto-redirect-to-provider', html_class: 'gl-display-none', redirect: @redirect_path
- else
  = render 'devise/shared/tab_single', tab_title: _('SAML single sign-on')
  .login-box
    .login-body.gl-px-5.gl-pt-5
      - if @group_saml_identity || !user_signed_in?
        %h4.gl-mt-0= _('Sign in to %{group_name}') % { group_name: @group_name }
        %p= s_('SAML|To access %{strongOpen}%{group_name}%{strongClose}, you must sign in using single sign-on through an external sign-in page.').html_safe % { strongOpen: '<strong>'.html_safe, group_name: @group_name, strongClose: '</strong>'.html_safe }
        - button_text = _('Sign in')
        = saml_link button_text, @group_path, html_class: 'btn btn-confirm btn-md gl-button btn-block', data: { qa_selector: 'saml_sso_signin_button' }, redirect: @redirect_path
        = render 'devise/shared/terms_of_service_notice', button_text: button_text
      - else
        #js-saml-authorize{ data: saml_authorize(group: @group, group_name: @group_name, group_path: @group_path, user: current_user) }
