- return unless Gitlab.com?

- minutes_usage = namespace.ci_minutes_usage
- minutes_usage_presenter = Ci::Minutes::UsagePresenter.new(minutes_usage)
- return unless minutes_usage_presenter.display_minutes_available_data? && minutes_usage_presenter.purchased_minutes_report.limit > 0

.row
  .col-sm-6
    %strong
      = _("Additional minutes")
    %div{ data: { qa_selector: "additional_ci_minutes" } }
      = ci_minutes_report(minutes_usage_presenter.purchased_minutes_report)
      minutes
      = link_to sprite_icon('question-o'), help_page_path('ci/pipelines/cicd_minutes', anchor: 'purchase-additional-cicd-minutes-free-saas'), target: '_blank', rel: 'noopener noreferrer'
  .col-sm-6.right
    #{minutes_usage_presenter.purchased_percent_used}% used
    = ci_minutes_progress_bar(minutes_usage_presenter.purchased_percent_used)
