- if show_advanced_search_promotion?
  = render Pajamas::BannerComponent.new(banner_options: {class: 'user-callout', data: {uid: 'promote_advanced_search_dismissed'}, id: 'promote_advanced_search'},
    close_options: {'aria-label' => _('Dismiss'), class: 'js-close-callout'}) do |c|
    - c.with_illustration do
      = custom_icon('icon_search_avatar')
    - c.with_title do
      - if Gitlab::CurrentSettings.should_check_namespace_plan?
        = s_('Promotions|Upgrade your plan to activate Advanced Search.')
      - else
        = s_('Promotions|Improve search with Advanced Search and GitLab Enterprise Edition.')
    %p
      = s_('Promotions|The Advanced Search in GitLab is a powerful search service that saves you time. Instead of creating duplicate code and wasting time, you can now search for code within other teams that can help your own project.')
      = link_to _('Read more'), help_page_path('user/search/advanced_search.md'), target: '_blank', rel: 'noopener noreferrer'
    - c.with_primary_action do
      = render 'shared/promotions/promotion_link_project', location: :advanced_search
