- project = local_assigns.fetch(:project)
- additional_classes = local_assigns.fetch(:additional_classes, '')

- if show_compliance_framework_badge?(project)
  - framework = project.compliance_framework_setting.compliance_management_framework

  = gl_badge_tag(nil, { class: "compliance-framework-pill has-tooltip #{additional_classes}", style: "background-color: #{framework.color}; color: #{text_color_for_bg(framework.color)}", data: { container: 'body' }, title: framework.description}) do
    = framework.name
