- payload = Gitlab::Licenses::SubmitLicenseUsageDataBanner.new(current_user)
- return unless payload&.display?

= content_for :page_level_alert do
  %div{ class: [container_class, @content_class, 'gl-pt-5!'] }
    = render Pajamas::AlertComponent.new(title: payload.title,
      variant: :warning,
      alert_options: { class: 'js-submit-license-usage-data-banner gl-my-5',
                       data: { feature_id: payload.class::SUBMIT_LICENSE_USAGE_DATA_BANNER,
                               dismiss_endpoint: callouts_path }},
      dismissible: payload.dismissable?) do |c|
      - c.with_body do
        = payload.body
      - c.with_actions do
        = link_to s_('SubscriptionBanner|Export license usage file'), admin_license_usage_export_path(format: :csv), class: 'btn gl-alert-action gl-button btn-confirm'
        = link_to s_('SubscriptionBanner|Upload new license'), general_admin_application_settings_path, class: 'btn gl-alert-action gl-button btn-default'
