= form_for [@project, @protected_environment], html: { class: 'new-protected-environment js-new-protected-environment' } do |f|
  .card
    .card-header
      %h3.card-title
        = s_('ProtectedEnvironment|Protect an environment')
    .card-body
      = form_errors(@protected_environment, pajamas_alert: true)
      .form-group
        = f.label :name, class: 'label-bold' do
          = s_('ProtectedEnvironment|Environment')
        = render partial: 'projects/protected_environments/environments_dropdown', locals: { f: f, project: @project }

      .form-group
        %label#allowed-users-label.label-bold.gl-display-block
          = s_('ProtectedEnvironment|Allowed to deploy')
        .js-allowed-to-deploy-dropdown

      .form-group
        = f.label :required_approval_count, s_('ProtectedEnvironment|Required approvals'), class: 'label-bold gl-display-block'
        .gl-min-w-20
          = f.select :required_approval_count, (0..5).map { |num| [num.to_s, num] }, {}, class: 'gl-form-select custom-select gl-form-input-xs'

    .card-footer
      = f.submit s_('ProtectedEnvironment|Protect'), class: 'gl-button btn btn-confirm', disabled: true
