- if @group_protected_environments.present?
  - link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: help_page_url('ci/environments/protected_environments.md', anchor: 'group-level-protected-environments') }
  - link_end = '</a>'.html_safe
  %h5= s_('ProtectedEnvironment|Environments protected upstream')
  %p= s_('ProtectedEnvironment|All environments specified with the deployment tiers below are protected by a parent group. %{link_start}Learn More%{link_end}.').html_safe % { link_start: link_start, link_end: link_end }

  .group-protected-branches-list
    .flash-container
    %table.table.table-bordered
      %colgroup
        %col{ width: '30%' }
        %col
        %col{ width: '10%' }
      %thead
        %tr
          %th= s_('ProtectedEnvironment|Protected Environment (%{protected_environments_count})') % { protected_environments_count: limited_counter_with_delimiter(@protected_environments) }
          %th= s_('ProtectedEnvironment|Parent group')
          %th= s_('ProtectedEnvironment|Allowed to deploy')
      %tbody
        = render partial: 'projects/protected_environments/group_protected_environment', collection: @group_protected_environments
