- if !@license.will_expire?
  = s_('Subscriptions|End date:')
  %strong= s_('Subscriptions|None')
- else
  - expires_at = l(@license.expires_at.to_time, format: :timeago_tooltip)
  - if @license.expired?
    = _('Expired:')
    %strong= expires_at
  - else
    = s_('Subscriptions|End date:')
    - if @license.trial?
      %strong.has-tooltip{ title: @license.expires_at.to_formatted_s(:long), data: { placement: 'top' } }
        = _('Free trial will expire in %{days}') % { days: pluralize(@license.remaining_days, 'day') }
    - else
      %strong= expires_at
