- slack_integration = integration.slack_integration
- if slack_integration
  %table.gl-table.gl-w-full
    %colgroup
      %col{ width: "25%" }
      %col{ width: "35%" }
      %col{ width: "20%" }
      %col
    %thead
      %tr
        %th= s_('SlackIntegration|Team name')
        %th= s_('SlackIntegration|Project alias')
        %th= _('Created')
        %th
    %tr
      %td{ class: 'gl-py-3!' }
        = slack_integration.team_name
      %td{ class: 'gl-py-3!' }
        = slack_integration.alias
      %td{ class: 'gl-py-3!' }
        = time_ago_with_tooltip(slack_integration.created_at)
      %td{ class: 'gl-py-3!' }
        .controls
          - project = integration.project
          = link_to _('Edit'), edit_project_settings_slack_path(project), class: 'btn gl-button btn-default'
          = link_to sprite_icon('remove', css_class: 'gl-icon'), project_settings_slack_path(project), method: :delete, class: 'btn gl-button btn-danger btn-danger-secondary', data: { confirm: 'Are you sure?' }
- else
  %p= s_('SlackIntegration|To set up this integration press "Add to Slack"')
  = render "projects/services/#{integration.to_param}/slack_button", project: @project
