%fieldset
  %legend.h5.gl-border-none
    = _('Approval settings')
  %p
    = _("Define how approval rules are applied to merge requests.")
    = link_to _("Learn more."), help_page_path("administration/merge_requests_approvals.md"), target: '_blank', rel: 'noopener noreferrer'
  .gl-form-checkbox-group
    = f.gitlab_ui_checkbox_component :prevent_merge_requests_author_approval,
        s_('ApprovalSettings|Prevent approval by author')

    = f.gitlab_ui_checkbox_component :prevent_merge_requests_committers_approval,
        s_('ApprovalSettings|Prevent approvals by users who add commits')

    = f.gitlab_ui_checkbox_component :disable_overriding_approvers_per_merge_request,
        s_('ApprovalSettings|Prevent editing approval rules in projects and merge requests')
