.top-area
  %ul.nav-links.nav.nav-tabs
    = nav_link(html_options: { class: ("active" unless params[:personal].present?) }) do
      = link_to filter_topics_path(personal: nil) do
        = _("All")
    = nav_link(html_options: { class: ("active" if params[:personal].present?) }) do
      = link_to filter_topics_path(personal: true) do
        = _("Personal")
